{% url 'btech' as bt %} {% url 'ranking' as rk %} {% load static %}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap" rel="stylesheet">
    <style>
        .navbar-custom {
            background-color: #00acc1;
            color: #00acc1;
        }
    </style>
</head>
<!--For dark mode navbar, in nav tag put  'bg-dark' in class -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-custom ">
    <div class="container-fluid">
        <a class="navbar-brand d-block w-50" href="{% url 'home' %}" style="font-family:'Mea Culpa', cursive; font-size:1.5em;"> <img src="{% static 'media/clglogosvg.svg' %}" style="width:2.5em" alt="...">&nbsp&nbsp College 360 </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link active px-3 dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true" aria-current="page">B.Tech</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{bt}}">Top Colleges</a></li>
                        <li><a class="dropdown-item" href="{{rk}}">Rankings</a></li>
                        <li><a class="dropdown-item" href="#">Streams</a></li>
                        <li><a class="dropdown-item" href="#">Exams</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true">MBBS</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{bt}}">Top Colleges</a></li>
                        <li><a class="dropdown-item" href="{{rk}}">Rankings</a></li>
                        <li><a class="dropdown-item" href="#">Streams</a></li>
                        <li><a class="dropdown-item" href="#">Exams</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link px-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true">MBA</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{bt}}">Top Colleges</a></li>
                        <li><a class="dropdown-item" href="{{rk}}">Rankings</a></li>
                        <li><a class="dropdown-item" href="#">Streams</a></li>
                        <li><a class="dropdown-item" href="#">Exams</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-3" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                        Arts
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{bt}}">Design</a></li>
                        <li><a class="dropdown-item" href="{{rk}}">Law</a></li>
                        <li><a class="dropdown-item" href="#">Top Art's Colleges</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-3" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                       Commerce
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{bt}}">B.Com</a></li>
                        <li><a class="dropdown-item" href="{{rk}}">M.Com</a></li>
                    </ul>
                </li>

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Welcome, {{user.username}}</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
                </li>
                {% endif %}
            </ul>



            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>

        </div>
    </div>

</nav>